.hero {
    height: 50vh;
    background-image: url("images/nashvilleHeroImg.jpg");
    background-position: 50% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 100px 50px rgb(78, 228, 183) inset;
}

#teamName {
    /* border: 1px solid purple; */
    color: white;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: right;
}

#heroTitle {
    /* border: 1px solid red; */
    color: white;
    font-size: 5.5em;
    font-weight: bolder;
}

body {
    background-color: rgb(78, 228, 183);
}